*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
    /* opacity: 0.8; */
}
main{
    /* background-color: rgb(245, 249, 250); */
    background-color: white;
    border: solid;
    width: 559px;
    display: inline-block;
    margin: auto;
    padding: 25px;
    position: absolute;
	top: 1vh;
	bottom: 1vh;
	left: 0;
	right: 0;
}

h1{
    margin-left: 186px;
    margin-top: 0px;
}

#name{
    width: 500px;
    margin-left: 30px;
    outline: none;
    font-size: 17px;
    padding: 11px;
    border-radius: 17px;
    border: 3px solid #b7afaf;
    border-top: none;
    border-right: none;
}

#date{
    width: 138px;
    height: 30px;
    font-size: 15px;
    margin-top: 11px;
    margin-left: 137px;
    border: none;
    /* border: 3px solid #b7afaf; */
    color: #b7afaf;
    border-bottom: 2px solid;
}

#date :active{
    color: #ebe5e53b;
}

#time{
    width: 73px;
    height: 30px;
    font-size: 15px;
    border: none;
    /* border: 3px solid #b7afaf; */
    color: #b7afaf;
    border-bottom: 2px solid;
}
#time:focus{
    outline: 0px;
}
#time :active{
    outline: 0px;

}

#items{
    width: 122px;
    height: 30px;
    font-size: 15px;
    border: none;
    /* border: 3px solid #b7afaf; */
    color: #b7afaf;
    border-bottom: 2px solid;
}
#button{
    
    width: 316px;
    height: 41px;
    margin-left: 149px;
    margin-top: 25px;
    margin-bottom: 50px;
    border: none;
    background-color: #b7afaf;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 1000;
    letter-spacing: 2px;
    color: #352f2fa3;
}
#button:active{
    border: none;
}
#button:focus{
    outline: 0px;
    font-size: 16px;
    width: 314px;
    height: 40px;
}
/* For checkboxes try this*/
/* this  + operator to apply css to label  why we put in same td bcz + only works for siblings ok remember this ...even ~ operator  */
 input[type=checkbox]:checked ~label.line{
    text-decoration:line-through;
}
input[type=checkbox]:checked + td.line{
    text-decoration: line-through;
}
/* For table  */

table.table {
    font-family: "Comic Sans MS", cursive, sans-serif;
    /* border: 2px solid #4F7849; */
    width: 550px;
    text-align: left;
    border-collapse: collapse;
}

table.table td, table.table th {
    /* border: 1px solid #457817; */
    padding: 3px 2px;
    border-bottom: 2px solid #8076763b;
    /* margin: 2px 0px; */
    /* padding: 2px 4px; */
}
table.table tbody td {
    font-size: 18px;
    /* font-weight: bold; */
    color: #312e2e;

}

.display{
    scroll-behavior: smooth;
    overflow: auto;
    height: 50vh;
}
p{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.fas{
    color: #a09b9b;
    margin: 0px 2px;
}

#task_type{
    /* background-color: #c5c3c33a; */
    text-align: center;
    border-radius: 15px;
}

/* ----------- TYPE ----------------- */
.red{
    background-color: rgba(192, 38, 38, 0.712);
}
.darkviolet{
    background-color:rgba(111, 81, 131, 0.719);
}
.yellow{
    background-color:rgba(226, 174, 29, 0.726);
}
.orange{
    background-color: rgba(177, 75, 75, 0.603);
}
.green{
    background-color: rgba(59, 165, 59, 0.678);
}
.grey{
    background-color: rgba(199, 64, 176, 0.637);
}

.date{
    color: rgba(38, 48, 192, 0.712);
}

.custom-checkbox{
    border: 50%;
    background-color: #a09b9b;
}